
$arfont:"Frutiger" , serif;
$enfont:'Cairo', sans-serif;


/*colors variables*/
$wcolor:#fff;
$mainColor:#faa74a;
$lColor:#524438;
$tColor:#B9A89A;
$bgcolor:#FFEBCD;
$bggrey: #f6f6f6;
$colorone: #FFEBCD;
$colorone: #A57C54;
$colorone:#613F1A;
$colorone:#faa74a;
$colorone:#524438;
$colorone: #B9A89A;
$colorone: #DFE0DF;
$colorone:#fff1cc;
$lightOrange :#ffe5b9;
$lightbink:rgba($lightOrange, 0.6);

$blColor:#000;

$minMobile:"(min-width:480px) and (max-width:767px)";

$float-right:right;
$float-left:left;
$text-right:right;
$text-left:left;
$Sfonsize:40px;

$siteLang:English;
