
/*NORMANDY-banner*/

.Nor-banner
{
    height: 100vh;

    .slider-wrap 
    {
 

        .item{
            position: relative;
            opacity: 1;
            -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
            overflow: hidden;
     
            .overlay{
                z-index: 9999;
            }
            .item-bg{
                top: 0;
                z-index: 1;
                position: absolute;
                left: 0!important;
                -webkit-transform: scale3d(2, 1, 2);
                transform: scale3d(2, 1, 2);
                -webkit-transition: -webkit-transform .4s ease-in-out 0s, opacity ease-in-out .4s;
                transition: transform .4s ease-in-out 0s, opacity ease-in-out .4s;
                margin: auto;
                opacity: 0.8;
                width: 100%;
                -webkit-transform-origin: 100% 0;
                -moz-transform-origin: 100% 0;
                -ms-transform-origin: 100% 0;
                -o-transform-origin: 100% 0;
                transform-origin: 100% 0;
                @include Prefixer(animation,movingbg  6000ms linear 0s infinite alternate   ,webkit moz ms  );

            }
        

       


            &:first-child
            {
                .item-bg{
                    top: auto;
                    position: relative
                }
              
            }
            &.slick-active
            {
                .item-bg{
                    opacity: 1;
                  
                    -webkit-transform: scale3d(1, 1, 1);
                    transform: scale3d(1, 1, 1);
                    -webkit-transition: -webkit-transform .4s ease-in-out 0s, opacity ease-in-out .4s;
                    transition: transform .4s ease-in-out 0s, opacity ease-in-out .4s;

                }
           
            }

            
        @include keyFrame( movingbg ){
            0% {
            
                -webkit-transform: scale(1);
                -webkit-transition: -webkit-transform 10000ms linear 0
            }
            100%
            {
                -webkit-transform: scale(1.2);
                -webkit-transition: -webkit-transform 10000ms linear 0
            }
            
            }

    

        }
    }
    
}



    

/*NORMANDY-banner*/ 



/*Nor-about section*/
.Nor-about
{

    text-align: center;
    position: relative;

   .col-md-2
   {
       padding: 0;
   }
    .left-corner,.right-corner
    {
        background-image: url("../images/abCorner.jpg");
        @extend %backgroundDetails;
        // background-size: contain;
        background-position: left center;
        height: 300px;
        display: none;
        @include minMedium
        {
            display: block;
        }
    }
    .right-corner
    {
        background-image: url("../images/rightCorner.jpg");

    }
    .Nor-Content
    {
        background-color: #fff;
        background-color: $lightbink;
        @extend %flexstyle;
        min-height:300px;
 
       .about-Text
       {
        padding:  0 20px  30px;
        font-size: 20px;
       color: rgba($lColor,.6);
       }

    }

}


/*Nor-about section*/

/* Nor-products */
.Nor-products
{
    background-color: $bggrey;
    text-align: center;
    padding: 20px 0 30px;
    @extend %flexstyle;
    min-height:500px;


}



/* Nor-products */

/* Nor-newsletter */

.Nor-newsletter
{
    @extend %flexstyle;
    min-height:400px;
    background-image: url("../images/banner/newsletter.jpg");
    @extend %backgroundDetails;
    position: relative;
    color: $wcolor;
    .overlay
    {
        @include Overlay;
        // background:rgba($lightOrange, 0.34); 
         background:rgba($blColor, 0.6);
        z-index: 1;

      
    }
   .L-content
   {
       z-index: 2;
    .Nor-title h2
    {     
       color: $wcolor;
       &::before
        {
            background-color: $wcolor;
        }
    }

    .news-form
    {

       .Nor-letter 
       {
           position: relative;
           max-width: 700px;
           margin: auto;
     

           input.form-control{
            width: 100%;
            height:80px;
            @extend %form-control;
            @include placeholder{
                text-transform: capitalize;
            }

           }
           button{
            position: absolute;
            right: 0;
            top: 0;
            height: 100%;
            @include maxMobile
            {
                display: block;
                position: static;
           
            }
          
           }

       }

   }
  
    }
}

/* Nor-newsletter */

/* Nor-contatct  */

 .Nor-contatct  
 {
    @extend %flexstyle;
    padding: 40px 0 30px;
    min-height:500px;

    .N-Form
    {
     text-align: center;
     max-width: 800px;
     margin: 20px auto;
     .Nor-txt{
         font-size: 17px;
     }

        .form-group
        {
          position: relative;
           margin: 20px 0px 20px;
          

           .form-control
           {
              @extend %form-control;
              border: 1px solid rgba($lColor,.4);
              height: 50px;
              line-height: 50px;
              font-size: 17px;
              color: $mainColor;
              background: transparent;
              &:focus +label 
              {
                   top: -30px;
                  left: 3px;
                  font-size: 12px;
                  color: $mainColor;
                  @include Prefixer( transition,all .2s ease-in-out ,webkit moz o);
                
              }

              
           }


           label
           {
              position: absolute;
               top: 15px;
               left: 12px;
               color:$lColor;
               z-index:-1;
               text-transform: capitalize;
               @include Prefixer( transition,all .2s ease-in-out ,webkit moz o);
             
           }
           textarea{
               height: 150px !important;
               resize: none;
            
             

           }
        }

        .has-data
        {
            label{

             top: -30px;
             left: 3px;
             font-size: 12px;
             color: $mainColor;
             @include Prefixer( transition,all .2s ease-in-out ,webkit moz o);
         

            }
       
        }

        .cutom-file
        {
            position: relative;
            height: 50px;
            line-height: 50px;
            margin: 20px 0px 20px;

            [type=file] 
            {

              position: absolute;
              visibility: hidden;
              top: 0;
              width: 100%;
              height: 100%;
              & + label {
                text-align: center;
                display: block;
                border: 1px solid rgba($lColor,.4);
                color: $lColor;
                height: 100%;
                text-transform: capitalize;
                background:$mainColor;
                color: #f2ebe1;
              &:hover {
                background: $lColor;
                 
                  }
              }
      
            }
        }


  


        button
        {
            // background-color: $lColor;
            max-width: 300px;
            width: 100%;
            padding: 16px 0;
            display: block;
            margin: 20px auto;


        }

    }
 }


/* Nor-contatct  */
.floating-social
{
 position: fixed;
 bottom: 80px;
 z-index: 9999;
.sm-btn{
    left: 0;
    right: auto;
    z-index: 999;
    // width: 60px;
    // height: 60px;
    // line-height: 60px;
    display: block;
    margin-top: 10px;
  

    @include Prefixer(animation, movingUdown 3s ease-in-out infinite ,webkit moz o);
    @include keyFrame(movingUdown)
    {
    50% {
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px)  } }


}
}